* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: darkgrey;
    color: white;
}

.card-group {
    display: flex;
    width: 1216px;
    margin: 100px auto;
    gap: 32px;
}

.container0 {
    display: inline-block;
    width: 384px;
    padding: 48px 32px 32px;
    border-radius: 10px;
    color: black;
}

.container1 {
    display: inline-block;
    width: 384px;
    padding: 48px 32px 32px;
    background-color: #0F172A;
    border-radius: 10px;
}

.container2 {
    display: inline-block;
    width: 384px;
    padding: 48px 32px 32px;
    border-radius: 10px;
    color: black;
}

.container0:hover {
    border: 1px solid #996DFF;
}

.container2:hover {
    border: 1px solid #996DFF;
}

.card {
    width: 320px;
    margin: auto;
}

.plano {
    width: 100%;
}

h2 {
    display: inline-block;
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.titulo0 {
    color: #1E293B;
} 

span {
    text-align: right;
    font-size: 18px;
    padding-left: 50px;
}

.notamate {
    color: #1E293B;
} 

.valor {
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #F8FAFC;
}

.valor1 {
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    color: #1E293B;
    font-weight: bold;
    font-size: 24px;
}

p {
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #996DFF;
}

.subTitulo {
    color: #7C3AED;
} 

button {
    width: 100%;
    padding: 16px 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 16px;
    background-color: #996DFF;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #7C3AED;
}

.button0 {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #1E293B;
    font-weight: bold;
    font-size: 16px;
    color: #1E293B;
    
}

.button0:hover {
    background-color: #996DFF;
    color: white;
}

ul {
    width: 320px;
    margin-top: 32px;
}

ul li {
    position: relative;
    width: 320px;
    list-style: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    font-size: 16px;
    padding-bottom: 16px;
}

li::before {
    content: url(../assets/icon-verificado.svg);
    padding-right: 10px;
}

li::after {
    content: url(../assets/icon-info.svg);
    padding-top: 5px;
    position: absolute;
    right: 0;
}

.regular-icon6::after {
    content: '';
}

@media (max-width: 500px) {

    body {
        width: 100%;
    }
    
    .card-group {
        width: 320px;
        display: block;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 80px;
        gap: 0;
    }

    .container0 {
        display: block;
        width: 320px;
        padding: 0;
    }

    .container1 {
        display: block;
        width: 320px;
        padding: 0;
    }

    .container2 {
        display: block;
        width: 320px;
        padding: 0;
    }

    .card {
        width: 272px;
        margin-top: 24px;
    }

    p {
        padding-top: 24px;
    }

    span {
        text-align: left;
        padding: 15px;
    }

    ul {
        width: 272px;
    }

    ul li {
        width: 272px;
    }
}

